.main_menu_right, .main__menu__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.main__menu_container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.mobile__menu_bar {
  display: none;
}

.main__menu_wrapper {
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: #fff;
}

.main__menu__left {
  width: 55%;
}

.main_menu_right {
  width: 30%;
}

.main__menu_item {
  display: flex;
  gap: 20px;
}

.main__menu_item li a:hover {
  color: aqua;
}

.main__menu_item i:hover {
  color: aqua;
}

.main__menu_item li a {
  text-decoration: none;
  color: black;
}

.main__menu_icons {
  display: flex;
  gap: 15px;
  color: gray;
}

.main__menu_icons .fa-brands:hover {
  color: red;
}

.main__menu_menu ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.main__menu__searcn {
  width: 60px;
  background-color: #FF4A52;
  height: 100%;
  border: none;
}

.main__menu__searcn {
  color: white;
}

.fa-chevron-down {
  padding-left: 5px;
}

.fa-phone {
  color: red;
}

.pages_dropdown {
  position: relative;
}

.contact_dropdown {
  position: relative;
}

.pages_dropdown:hover .pages_dropdown_items {
  visibility: visible;
  opacity: 1;
}

.pages_dropdown_items {
  position: absolute;
  z-index: 1;
  width: 170px;
  height: 100px;
  left: 20px;
  padding: 20px 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  text-align: center;
  opacity: 0;
  text-align: left;
}

.contact_dropdown:hover .contact__dropdown_items {
  visibility: visible;
  opacity: 1;
}

.contact__dropdown_items {
  position: absolute;
  z-index: 1;
  width: 170px;
  height: 100px;
  left: 20px;
  padding: 20px 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  text-align: left;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.chevron_left, .chevron_right {
  width: 50px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.384);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_wrapper {
  background-image: url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0d/bf/10/29/parque-nacional-de-komodo.jpg?w=1200&h=700&s=1");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: contrast(1.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  filter: contrast(1.1);
  text-align: center;
}

.indonesia {
  color: white;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
}

.indonesia h1 {
  color: white;
  font-family: "Nothing You Could Do", cursive;
  font-size: 10rem;
}

.indonesia p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.indonesia button {
  padding: 10px 20px;
  background-color: rgb(33, 121, 121);
  border: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  width: 180px;
  height: 60px;
}

.chevron_right i {
  font-size: 20px;
  color: white;
}

.chevron_left i {
  font-size: 20px;
  color: white;
}

.where_to {
  width: 100%;
  height: 160px;
  background-color: #040E27;
  color: white;
  justify-content: center;
  display: flex;
}

.where_to_container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 30px 0px;
  justify-content: space-evenly;
}

.where_to_container input {
  width: 200px;
  height: 50px;
  border: 2px solid white;
  padding: 0px 5px;
  color: white;
  background-color: #040E27;
}

.where_to_container button {
  width: 100px;
  height: 50px;
  border: none;
  background-color: #FF4A52;
}

.where_to_container select {
  width: 200px;
  height: 50px;
  border: 2px solid white;
  padding: 0px 5px;
  color: white;
  background-color: #040E27;
}

.popular_destination {
  width: 100%;
}

.popular_destination h1, p {
  text-align: center;
}

.popular_destination_container {
  width: 70%;
  height: 100vh;
  margin: 0 auto;
}

.destination_card {
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  filter: brightness(0.7);
  position: relative;
  transition: 1s ease;
}

.destination_card:hover {
  bottom: 10px;
}

.destination_card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 1s;
}

.destination_card:hover .places {
  background-color: red;
  position: absolute;
}

.destination_card:hover h3 {
  color: red;
}

.places, h3 {
  position: absolute;
  left: 20px;
  color: black;
  z-index: 3;
}

h3 {
  bottom: 20px;
  left: 28%;
  font-size: 24px;
  font-weight: bold;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: absolute;
}

.places {
  bottom: 20px;
  font-size: 16px;
  color: black;
  z-index: 2;
  width: fit-content;
  background-color: aqua;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.subscribe {
  width: 100%;
  position: relative;
}

.subscribe img {
  width: 100%;
  height: 100%;
}

.subscribe_container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: white;
  position: absolute;
  left: 50%;
  bottom: 60px;
  transform: translateX(-50%);
  z-index: 2;
}

.subscribe_input {
  width: 430px;
  height: 50px;
}

.subscribe_btn {
  width: 160px;
  height: 100%;
  background-color: #FF4A52;
  border: none;
  color: white;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 10, 28, 0.6);
  z-index: 1;
}

.popularSection {
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 50px;
}

.popularSection_container {
  width: 70%;
  margin: 0 auto;
}

.popular_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_bottom {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.card_bottom_days {
  display: flex;
  align-items: flex-end;
}

.popular_button_more {
  background-color: #FF4A52;
  width: 170px;
  height: 40px;
  border: none;
  margin-top: 50px;
  color: white;
}

.enjoy {
  width: 100%;
  height: 100vh;
  background-image: url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0d/bf/10/29/parque-nacional-de-komodo.jpg?w=1200&h=700&s=1");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: contrast(1.1);
  margin-top: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 11%;
}

.enjoy__play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 30%;
  position: absolute;
  font-size: 100px;
}

.enjoy__play i {
  color: rgb(108, 179, 168);
}

.enjoy_video {
  position: absolute;
  top: 30%;
  font-family: "Nothing You Could Do", cursive;
  font-size: 60px;
  color: white;
}

.options {
  width: 100%;
  height: 500px;
  padding-top: 10%;
}

.options__container {
  width: 70%;
  margin: 0 auto;
}

.options .row div {
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.options .row i {
  font-size: 50px;
  color: red;
}

.author {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 60px 20px;
  background-color: #f5f5f5;
  text-align: center;
}

.author__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author_container {
  width: 70%;
  margin: 0 auto;
  background-color: white;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  position: relative;
}/*# sourceMappingURL=main.css.map */